<div class='mt-4'>
    <div class='row'>
        {{#each musics}}
            <div class='col-sm-6 col-lg-3'>
                <div class='card mt-3' style='width: 18rem;'>
                    <img src='{{this.image}}' class='card-img-top' alt='...' />
                    <div class='card-body' style='height: 200px;'>
                        <a href='musics/{{this.slug}}'> <h5 class='card-title'>{{this.name}}</h5></a>
                        <p class='card-text'>{{this.description}}</p>
                        <a
                            href='musics/{{this.slug}}'
                            class='btn btn-primary'
                            style='position: absolute; bottom: 20px;right: 40%;'
                        >Play now</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>