<table class='table'>
    <h4 class='mt-1 mb-2'>Songs is Deleted</h4>
    <a href='/me/stored/musics' class='mt-1 mb-5  btn bg-info-subtle'>My Songs</a>
    <thead>
        <tr>
            <th scope='col'>ID</th>
            <th scope='col'>Name</th>
            <th scope='col'>Description</th>
            <th scope='col' colspan='2'>Deleted_AT</th>
        </tr>
    </thead>
    <tbody>
        {{#each musics}}
            <tr>
                {{! equivalent sum(@index,1) }}
                <th scope='row'>{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.deletedAt}}</td>
                <td>
                    <a href='' class='btn btn-info btn-restore' data-id="{{this._id}}">Restore</a>
                    <a
                        href=''
                        class='btn btn-danger'
                        data-bs-toggle='modal'
                        data-bs-target='#exampleModal'
                        data-id='{{this._id}}'
                    >Delete</a>
                </td>
            </tr>
        {{else}}
            <tr>
                <td colspan='5' class='text-center'>Trash is Empty
                    <a href='/me/stored/musics'>My Songs</a></td>
            </tr>
        {{/each}}
    </tbody>
</table>
<!-- Modal -->
<div class='modal fade' id='exampleModal' tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h1 class='modal-title fs-5' id='exampleModalLabel'>Delete Song</h1>
                <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
            </div>
            <div class='modal-body'>
                Are you sure delete this song? This action cannot be undone
            </div>
            <div class='modal-footer'>
                <button
                    type='button'
                    class='btn btn-danger'
                    id='btn-delete-song'
                    data-bs-dismiss='modal'
                >Delete</button>
                <button type='button' class='btn btn-primary'>Close</button>
            </div>
        </div>
    </div>
</div>
{{! Delete hidden form , tạo form ẩn đề thực hiện xóa}}
<form name='delete-song-form' method='POST'></form>
<form name='restore-song-form' method='POST'></form>
{{!-- Không dùng Jquery
    const restoreButtons = document.querySelectorAll('.btn-restore');

    restoreButtons.forEach(button => {
    button.addEventListener('click', event => {
        event.preventDefault();
        console.log("button clicked");
    });});
--}}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    const exampleModal = document.getElementById('exampleModal');
    const restoreButtons = $('.btn-restore');
    const restoreForm = document.forms['restore-song-form'];

    restoreButtons.click(function (e) {
        e.preventDefault();
        const id=$(this).data('id')//lấy dữ liệu data-id của thẻ đã clicking
          restoreForm.action = '/musics/' + id + '/restore?_method=PATCH';
            restoreForm.submit();

    }) 

    exampleModal.addEventListener('show.bs.modal', (event) => {
        let id;
        const deleteForm = document.forms['delete-song-form'];
        
        const button = event.relatedTarget;
        id = button.getAttribute('data-id');
        const btnDeleteSong = document.getElementById('btn-delete-song');

        btnDeleteSong.onclick = function () {
            deleteForm.action = '/musics/' + id + '/force?_method=DELETE';
            deleteForm.submit();
        };

    });
</script>