<form method="POST" action="/musics/handle-form-restore">

    <h4 class='mt-1 mb-2'>Songs is Deleted</h4>
    <a href='/me/stored/musics' class='my-2 btn bg-info-subtle position-relative'>My Songs 
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{amountSong}}  
        </span>
    </a>
   
    <div class="form-check  d-flex align-items-center gap-3 my-3 pb-2 border-bottom border-info">
                <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                <label class="form-check-label" for="checkbox-all">
                    Select All
                </label>
                {{!-- required bắt buộc phải chọn mới cho submit --}}
                <select class="form-select w-25" aria-label="Default select example" name="actions" required>
                <option value="">Actions</option>
                <option value="restore">Restore</option>
                <option value="delete">Delete</option>
                </select>
                <button class="btn btn-primary disabled check-all-submit-btn">Apply</button>
            </div>
    
    <table class='table'>
        <thead>
            <tr>
                <th scope='col'> 
                    {{#if renderTick}}<i class="fa-regular fa-square-check fa-fade"></i> {{/if}}           
                </th>
                <th scope='col'>ID</th>
                <th scope='col'>Name</th>
                <th scope='col'>Description</th>
                <th scope='col' colspan='2'>Deleted_AT</th>
            </tr>
        </thead>
        <tbody>
            {{#each musics}}
                <tr>
                    <td>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="{{this._id}}" name="musicIds[]" >
                        </div>
                    </td>
                    {{! equivalent sum(@index,1) }}
                    <th scope='row' style="width: 40px;">{{sum @index 1}}</th>
                    <td >{{this.name}}</td>
                    <td class="col-3">{{this.description}}</td>
                    <td>{{this.deletedAt}}</td>
                    <td>
                        <a href='' class='btn btn-info btn-restore' data-id="{{this._id}}">Restore</a>
                        <a
                            href=''
                            class='btn btn-danger'
                            data-bs-toggle='modal'
                            data-bs-target='#exampleModal'
                            data-id='{{this._id}}'
                        >Delete</a>
                    </td>
                </tr>
            {{else}}
                <tr>
                    <td colspan='5' class='text-center'>Trash is Empty
                        <a href='/me/stored/musics'>My Songs</a></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</form>
<!-- Modal -->
<div class='modal fade' id='exampleModal' tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h1 class='modal-title fs-5' id='exampleModalLabel'>Delete Song</h1>
                <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
            </div>
            <div class='modal-body'>
                Are you sure delete this song? This action cannot be undone
            </div>
            <div class='modal-footer'>
                <button
                    type='button'
                    class='btn btn-danger'
                    id='btn-delete-song'
                    data-bs-dismiss='modal'
                >Delete</button>
                <button type='button' class='btn btn-primary'>Close</button>
            </div>
        </div>
    </div>
</div>
{{! Delete hidden form , tạo form ẩn đề thực hiện xóa}}
<form name='delete-song-form' method='POST'></form>
<form name='restore-song-form' method='POST'></form>
{{!-- Không dùng Jquery
    const restoreButtons = document.querySelectorAll('.btn-restore');

    restoreButtons.forEach(button => {
    button.addEventListener('click', event => {
        event.preventDefault();
        console.log("button clicked");
    });});
--}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/regular.min.css" integrity="sha512-3YMBYASBKTrccbNMWlnn0ZoEOfRjVs9qo/dlNRea196pg78HaO0H/xPPO2n6MIqV6CgTYcWJ1ZB2EgWjeNP6XA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/solid.min.css" integrity="sha512-bdTSJB23zykBjGDvyuZUrLhHD0Rfre0jxTd0/jpTbV7sZL8DCth/88aHX0bq2RV8HK3zx5Qj6r2rRU/Otsjk+g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    const exampleModal = document.getElementById('exampleModal');
    const restoreButtons = $('.btn-restore');
    const restoreForm = document.forms['restore-song-form'];
    const checkboxAll=$('#checkbox-all');
    const musicItemCheckbox=$('input[name="musicIds[]"]');
    const checkAllSubmitBtn=$('.check-all-submit-btn');

    //restore button click
    restoreButtons.click(function (e) {
        e.preventDefault();//ngăn sự kiện mặc định thẻ link (load lại trang)
        const id=$(this).data('id')//lấy dữ liệu data-id của thẻ đã clicking
        restoreForm.action = '/musics/' + id + '/restore?_method=PATCH';
        restoreForm.submit();
    }) 
    //checkbox-all click change
    checkboxAll.change(function() { 
       let isChecked= $(this).prop('checked');//get checked của selectAll(T,F)
       // rồi gán cho các select item
       musicItemCheckbox.prop('checked',isChecked);
       renderCheckAllSubmitBtn();
    })
    //checkbox-item click-change
    musicItemCheckbox.change(function() {
        const isCheckedAll= musicItemCheckbox.length=== $('input[name="musicIds[]"]:checked').length;
        checkboxAll.prop('checked',isCheckedAll);
        renderCheckAllSubmitBtn();
    })
    //enable and disabled button Apply
    const renderCheckAllSubmitBtn=()=>{
        const checkedCount=$('input[name="musicIds[]"]:checked').length;
        checkedCount > 0 ? checkAllSubmitBtn.removeClass('disabled') 
                         :checkAllSubmitBtn.addClass('disabled');
    }
    
    //show modal confirm delete when click btn Delete 
    exampleModal.addEventListener('show.bs.modal', (event) => {
        let id;
        const deleteForm = document.forms['delete-song-form'];
        
        const button = event.relatedTarget;
        id = button.getAttribute('data-id');
        const btnDeleteSong = document.getElementById('btn-delete-song');

        btnDeleteSong.onclick = function () {
            deleteForm.action = '/musics/' + id + '/force?_method=DELETE';
            deleteForm.submit();
        };
    });
</script>