<table class='table'>
    <h4 class='mt-1 mb-2'>My Songs</h4>
    <a href='/me/trash/musics' class="btn bg-info-subtle">recycle bin ( {{deleteCount}} )</a>
    <thead>
        <tr>
            <th scope='col'>ID</th>
            <th scope='col'>Name</th>
            <th scope='col'>Description</th>
            <th scope='col' colspan='2'>Create_AT</th>
        </tr>
    </thead>
    <tbody>
        {{#each musics}}
            <tr>
                {{! equivalent sum(@index,1) }}
                <th scope='row'>{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href='/musics/{{this._id}}/edit' class='btn btn-primary'>Edit</a>
                    <a
                        href=''
                        class='btn btn-danger'
                        data-bs-toggle='modal'
                        data-bs-target='#exampleModal'
                        data-id='{{this._id}}'
                    >Delete</a>
                </td>
            </tr>
            {{!-- khi data Empty --}}
        {{else}} 
            <tr>
                <td colspan='5' class='text-center'>You have not posted any songs yet!
                    <a href='/musics/create'>Post Song</a></td>
            </tr>
        {{/each}}
    </tbody>
</table>
<!-- Modal -->
<div class='modal fade' id='exampleModal' tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h1 class='modal-title fs-5' id='exampleModalLabel'>Delete Song</h1>
                <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
            </div>
            <div class='modal-body'>
                Are you sure delete this song?
            </div>
            <div class='modal-footer'>
                <button
                    type='button'
                    class='btn btn-danger'
                    id='btn-delete-song'
                    data-bs-dismiss='modal'
                >Delete</button>
                <button type='button' class='btn btn-primary'>Close</button>
            </div>
        </div>
    </div>
</div>
{{! Delete hidden form , tạo form ẩn đề thực hiện xóa}}
<form name='delete-song-form' method='POST'></form>

<script>
    const exampleModal = document.getElementById('exampleModal');

    exampleModal.addEventListener('show.bs.modal', (event) => {
        let id;
        let deleteForm = document.forms['delete-song-form'];
        const button = event.relatedTarget;
        id = button.getAttribute('data-id');
        const btnDeleteModal = document.getElementById('btn-delete-song');
        btnDeleteModal.onclick = function () {
            deleteForm.action = '/musics/' + id + '?_method=DELETE';
            deleteForm.submit();
        };
    });
</script>